* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: #121212;
  position: relative;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #1e1e1e;
  color: #f8f8f2;
  font-family: "Fira Code", monospace;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #7a5cff;
  color: #ffffff;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

main .left .review:hover {
  background-color: #5a40d2;
}

main .right {
  background-color: #1e1e1e;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #f8f8f2;
  overflow: auto;
  border-radius: 0.7rem;
}
